*{
    font-family: Arial,Verdana;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -o-box-sizing:border-box;
}
section{
    max-width:1000px;
    display: flex;
    margin: auto;
}
article{
    max-width: 33%;
    margin: 0.5%;
    text-align: center;
    border: 1px solid #f1f2fa;
}
article img{
    max-width: 100%;
}
article h3{
    background-color: #f1f2fa;
    padding: 5px;
}
article p{
    background-color: #f1f2fa;
    padding: 10px;
    padding-bottom: 20px
}